.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
dist/
coverage/
*.iml
.idea/
.DS_Store
macos/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.class
**/target/
