[Desktop Entry]
Type=Application
Name=Aiva
Comment=Offline průvodce programováním v Javě
Exec=aiva
Icon=aiva
Categories=Education;Development;
Terminal=false
StartupNotify=true
